# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [99]:
#%ls -l
# %pwd
# #%magic

In [100]:
# import libraries
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

In [101]:
# load messages dataset
messages = pd.read_csv('./messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [102]:
# load categories dataset
categories = pd.read_csv('./categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [103]:
##REMOVE##  some infos
print(messages.shape)
print(categories.shape)
print("----------------------------------------------")
print(messages.info())
print("--------------------")
print(categories.info())
print("---------------------isnull().sum()-------------------------")
print(messages.isnull().sum())
print("--------------------")
print(categories.isnull().sum())
print("--------------------id.nunique()--------------------------")
print(messages.id.nunique())
print("--------------------")
print(categories.id.nunique())
print("------------------------DUPLICATES MESSAGES------------------------------")
print(messages[messages.duplicated(subset=None, keep='first') == True].head(3))     #explore duplicates
print("----------------------------------------------")
print(messages[messages.duplicated(subset=None, keep='first') == True].info())

print("------------------------DUPLICATES CATEGORIES------------------------------")
print(categories[categories.duplicated(subset=None, keep='first') == True].head(3))  #explore duplicates
print("----------------------------------------------")
print(categories[categories.duplicated(subset=None, keep='first') == True].info())

(26248, 4)
(26248, 2)
----------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26248 entries, 0 to 26247
Data columns (total 4 columns):
id          26248 non-null int64
message     26248 non-null object
original    10184 non-null object
genre       26248 non-null object
dtypes: int64(1), object(3)
memory usage: 820.3+ KB
None
--------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26248 entries, 0 to 26247
Data columns (total 2 columns):
id            26248 non-null int64
categories    26248 non-null object
dtypes: int64(1), object(1)
memory usage: 410.2+ KB
None
---------------------isnull().sum()-------------------------
id              0
message         0
original    16064
genre           0
dtype: int64
--------------------
id            0
categories    0
dtype: int64
--------------------id.nunique()--------------------------
26180
--------------------
26180
------------------------DUPLICATES MESSAGES------------------------------
      id                                            message  \
163  202  ?? port au prince ?? and food. they need gover...
656  804  elle est vraiment malade et a besoin d'aide. u...
710  862  What is the address of the radio station? I as...

                                              original   genre
163  p bay pap la syen ak manje. Yo bezwen ed gouve...  direct
656  she is really sick she need your help. please ...  direct
710  Ki adres radyo a? Paske m bezwen al depoze dos...  direct
----------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 68 entries, 163 to 25242
Data columns (total 4 columns):
id          68 non-null int64
message     68 non-null object
original    31 non-null object
genre       68 non-null object
dtypes: int64(1), object(3)
memory usage: 2.7+ KB
None
------------------------DUPLICATES CATEGORIES------------------------------
        id                                         categories
656    804  related-2;request-0;offer-0;aid_related-0;medi...
2131  2446  related-1;request-0;offer-0;aid_related-0;medi...
2793  3217  related-1;request-1;offer-0;aid_related-1;medi...
----------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 656 to 25242
Data columns (total 2 columns):
id            32 non-null int64
categories    32 non-null object
dtypes: int64(1), object(1)
memory usage: 768.0+ bytes
None

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [104]:
# merge datasets
df = messages.merge(categories, on='id')
df.head()
##REMOVE##
# df = pd.merge(messages, categories, on = 'id')
# df = pd.merge(messages,categories,how='inner',on=['id'])

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [105]:
##REMOVE##  - vorher (26248, 4),(26248, 2)
#print(df.info())

## 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [106]:
# create a dataframe of the 36 individual category columns
categories = df.categories.str.split(pat=';', expand=True)
categories.head()
#df['categories'].str.split(pat=';', expand = True)

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [107]:
# select the first row of the categories dataframe
row = categories.iloc[0]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.transform(lambda x: x[:-2]).tolist()
print(category_colnames)

['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [108]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [109]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].astype(str).str[-1]
    
    # convert column from string to numeric
    categories[column] = categories[column].astype(int)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [110]:
# drop the original categories column from `df`

df.drop(columns=['categories'], inplace=True)
df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [111]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis=1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [112]:
# check number of duplicates
print('Number of duplicates is ', df.duplicated().sum())

Number of duplicates is  170

In [113]:
# drop duplicates
df.drop_duplicates(inplace=True)

In [114]:
# check number of duplicates
print('Number of duplicates is ', df.duplicated().sum())

Number of duplicates is  0

In [116]:
# ##REMOVE## ???
# # check distribution of 0s and 1s across columns
# for c in df.iloc[:,4:]:
#     print("---- %s ---" % c)
#     print(df[c].value_counts())

**Both actions below(drop+replace)are done, because problems arise in:**  
**ML Pipeline Preparation.ipynb section '5. Test your model' ->error="ValueError: multiclass-multioutput is not supported"**  
Google "multiclass-multioutput is not supported accuracy score" and you'll find
 https://github.com/ThilinaRajapakse/simpletransformers/issues/88 -> aaronbriel commented on Jan 28 => **multiclass-multioutput works only with pure binary columns!** See also:   
https://scikit-learn.org/stable/modules/multiclass.html and https://scikit-learn.org/stable/modules/generated/sklearn.multioutput.MultiOutputClassifier.html

In [115]:
# remove 'child_alone' column as it has only 0 (ZERO) values. => no value for classification and prediction
df = df.drop('child_alone', axis = 1)

In [118]:
# "ValueError: multiclass-multioutput is not supported" <- in ML Pipeline Preparation.ipynb
# https://github.com/ThilinaRajapakse/simpletransformers/issues/88 -> aaronbriel commented on Jan 28

# maximum value for 'related' column is '2'. Let us investigate further...
print(df.groupby('related').count())
# value '2' is strange. We can replace it with '0' or '1'. In this case, I will replace it with '1'
df['related'] = df['related'].map(lambda x: 1 if x==2 else x) 
# check if all '2' have been replace with '1'
df.groupby('related').count()

            id  message  original  genre  request  offer  aid_related  \
related
0         6122     6122      3395   6122     6122   6122         6122
1        19906    19906      6643  19906    19906  19906        19906
2          188      188       132    188      188    188          188

         medical_help  medical_products  search_and_rescue      ...        \
related                                                         ...
0                6122              6122               6122      ...
1               19906             19906              19906      ...
2                 188               188                188      ...

         aid_centers  other_infrastructure  weather_related  floods  storm  \
related
0               6122                  6122             6122    6122   6122
1              19906                 19906            19906   19906  19906
2                188                   188              188     188    188

          fire  earthquake   cold  other_weather  direct_report
related
0         6122        6122   6122           6122           6122
1        19906       19906  19906          19906          19906
2          188         188    188            188            188

[3 rows x 38 columns]

,id,message,original,genre,request,offer,aid_related,medical_help,medical_products,search_and_rescue,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
related,,,,,,,,,,,,,,,,,,,,,
0,6122,6122,3395,6122,6122,6122,6122,6122,6122,6122,...,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122
1,20094,20094,6775,20094,20094,20094,20094,20094,20094,20094,...,20094,20094,20094,20094,20094,20094,20094,20094,20094,20094

In [119]:
##REMOVE## ??? How to search whole df for (column != 0) & (column != 1)?
#df['message'][df['related'] == 2]
# for column in categories:
    
#     categories_not_0or1[column] = categories[(column != 0) & (column != 1)]
    
# print(categories_not_0or1)

In [120]:
##REMOVE## STOP for Run All
print(

SyntaxError: unexpected EOF while parsing (<ipython-input-120-3c02b48e3d1f>, line 2)

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [123]:
# comment out for .py or function 
engine = create_engine('sqlite:///ETL_Preparation.db')
df.to_sql('ETL_Preparation', engine, index=False)

In [124]:
##REMOVE## ???
# Test database engine
pd.read_sql("SELECT * FROM ETL_Preparation LIMIT 5", engine)

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# ##REMOVE## ???
# # What is in ...
# engine2 = create_engine('sqlite:///DisasterResponse.db')
# pd.read_sql("SELECT * FROM DisasterResponse LIMIT 5", engine2)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.